{{> navBar this}}
{{> header}}
{{> messages this}}
<main>
  <div class="container">
    <div class=" ">
      <h2 class="text-center">Something was wrong</h2>
      <p class="text-center">Sorry. We couldn't find the page you are looking for...</p>
    </div>
  </div>
  <br><br>
</main>
{{> footer}}