{{> navBar this}}
{{> header}}  
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="col-md-9">
                    <h1>Order</h1>
                </div>
                <div class="col-md-9">
                    <label for="Date">Date: Date</label>
                </div>
                <div class="col-md-9">
                    <label for="Addres">Adress: Address</label>
                </div>
                <div class="col-md-9">
                    <label for="CardNumber">Card Number: Number</label>
                </div>
                <div class="col-md-9">
                    <label for="CardHolderr">Card Holder: Owner </label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9">
                <hr>
            </div>
            
        </div>

        <div class="row justify-content-center" >
            <div class=" col-md-9">
                <div class="col-md-9">
                    <h1>Products</h1>
                </div>   
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="table-responsive col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Qty</th>
                            <th scope="col">Product</th>
                            <th class=" d-flex justify-content-end" scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>    
                            <td >1</td>
                            <td>Microsoft Surface Pro 3</td>
                            <td class=" d-flex justify-content-end">999.99€</td>
                        </tr>
                        <tr>    
                            <td>3</td>
                            <td>Asus 550VX</td>
                            <td class=" d-flex justify-content-end">1500€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="col-md-9">
                    <label for="Addres">Adress: Address</label>
                </div>
                <div class="col-md-9">
                    <label for="CardNumber">Card Number: Number</label>
                </div>
                <div class="col-md-9">
                    <label for="CardHolder">Card Holder: Owner </label>
                </div>
            </div>
        </div>

            <br><br><br><br>
    </div>      
{{> footer}}
