{{#each messages.success}}
<div class="container">
    <div class="alert alert-success" role="alert"><p class="text-center">{{this}}</p></div>
</div>

{{/each}}
{{#each messages.danger}}
<div class="container">
    <div class="alert alert-danger" role="alert"><p class="text-center">{{this}}</p></div>
</div>

{{/each}}